<div class="playground" (click)="test($event)" >
	<div class="playgroundside" *ngIf="side=='left'"><!--
		--><zone-defense [code]="3"></zone-defense><zone-attack [code]="4"></zone-attack><!--
		--><zone-defense [code]="2"></zone-defense><zone-attack [code]="5"></zone-attack><!--
		--><zone-defense [code]="1"></zone-defense><zone-attack [code]="6"></zone-attack><!--
 --></div>
	<div class="playgroundside" *ngIf="side=='right'"><!--
		--><zone-attack [code]="6"></zone-attack><zone-defense [code]="1"></zone-defense><!--
		--><zone-attack [code]="5"></zone-attack><zone-defense [code]="2"></zone-defense><!--
		--><zone-attack [code]="4"></zone-attack><zone-defense [code]="3"></zone-defense><!--
 --></div>	
</div>